.title {
  text-align: center;
  margin-top:50px;
}

.sections-container {
  margin-top:35px;
  border-radius:4px;
}

.property-row-titles {
  border:1px solid #ced4da;
}

.property-row {
  border:1px solid #ced4da;
  border-top:none;
}

.additions-row {
  border:1px solid #ced4da;
  border-top:none;
}

.line-column {
  border-left:1px solid #ced4da;
}

.column {
  line-height:75px;
}

.input-column {
  padding:15px 0;
}

.title-row {
  line-height:50px;
}

.input-row {
  margin:15px 0;
}

.trash-icon {
  margin-bottom:4px;
}

.custom-switch {
  padding:none !important;
  line-height:0;
  padding-top: 20px;
}
